.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;

  .error {
    padding: 8px 12px;
    background-color: #fee;
    color: #c00;
    border: 1px solid #fcc;
    border-radius: 4px;
    font-size: 0.875rem;
    line-height: 1.5;
  }

  > div:last-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }

  .input {
    height: 40px;
    width: 100%;
  }

  .button {
    height: 40px;
    width: 140px;
  }
}
