@use '@/styles/variables' as *;

.input {
  border: 2px solid transparent;
  width: 15em;
  height: 2.5em;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: $color-background;
  color: $color-text-primary;
  border-radius: 10px;
  transition: all 0.5s;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    background-color: $color-background;
  }
}

.input:hover:not(:disabled),
.input:focus:not(:disabled) {
  border: 2px solid $color-primary;
  box-shadow: $box-shadow-focus;
  background-color: $color-background-hover;
}
