@import '@/styles/variables';

.messageList {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 8px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 16px;
  overflow: hidden;
  overflow-y: scroll;

  @media (max-width: 480px) {
    padding: 12px;
  }

  .message {
    width: 60%;
    max-width: 100%;

    @media (max-width: $breakpoint-tablet) {
      width: 75%;
    }

    @media (max-width: 480px) {
      width: 85%;
    }

    &.incoming {
      align-self: flex-start;
    }

    &.outgoing {
      text-align: right;
      align-self: flex-end;
    }
  }

  .loadingIndicator {
    padding: 8px 16px;
    border-radius: 4px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    gap: 4px;

    .loadingText {
      font-style: italic;
    }

    .loadingDots {
      display: flex;
      gap: 2px;

      span {
        animation: blink 1.4s infinite;
        
        &:nth-child(2) {
          animation-delay: 0.2s;
        }
        
        &:nth-child(3) {
          animation-delay: 0.4s;
        }
      }
    }
  }
}

@keyframes blink {
  0%, 60%, 100% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
}
