@import '@/styles/variables';

.messageList {
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: $spacing-sm;
  border: 1px solid $color-text-primary;
  border-radius: $spacing-sm;
  padding: $spacing-md;
  overflow: hidden;
  overflow-y: scroll;

  .message {
    width: 85%;
    max-width: 100%;

    &.incoming {
      align-self: flex-start;
    }

    &.outgoing {
      text-align: right;
      align-self: flex-end;
    }
  }

  .loadingIndicator {
    padding: $spacing-sm $spacing-md-alt;
    border-radius: $border-radius-sm;
    background-color: $color-text-primary;
    color: $color-text-inverse;
    display: flex;
    align-items: center;
    gap: $border-radius-sm;

    .loadingText {
      font-style: italic;
    }

    .loadingDots {
      display: flex;
      gap: $spacing-xs;

      span {
        animation: blink 1.4s infinite;

        &:nth-child(2) {
          animation-delay: 0.2s;
        }

        &:nth-child(3) {
          animation-delay: 0.4s;
        }
      }
    }
  }

  @media (min-width: $breakpoint-mobile) {
    padding: $spacing-md-alt;

    .messageList {
      height: 100%;

      .message {
        width: 75%;
      }
    }
  }

  @media (min-width: $breakpoint-tablet) {
    .messageList {
      height: 100%;

      .message {
        width: 60%;
      }
    }
  }
}

@keyframes blink {

  0%,
  60%,
  100% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }
}