// Colors
$color-primary: #4a9dec;
$color-background: #f3f3f3;
$color-background-hover: white;
$color-border-transparent: transparent;

// Sizes
$border-width: 2px;
$border-radius: 10px;
$input-height: 40px;
$spacing-sm: 8px;
$spacing-md: 12px;

// Box Shadow
$box-shadow-focus: 0px 0px 0px 7px rgba($color-primary, 0.2);

// Transitions
$transition-default: all 0.5s;

// Breakpoints
$breakpoint-tablet: 768px;
