@use '@/styles/variables' as *;
@use '@/styles/typography' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: $spacing-md;
  width: 100%;

  .label {
    @include label-text;
  }

  .toggleGroup {
    display: flex;
    width: 100%;
    border-radius: $border-radius;
    overflow: hidden;
    background-color: $color-background;
    border: $border-width solid $color-border-transparent;
    transition: $transition-default;

    &:hover {
      border-color: $color-primary;
      box-shadow: $box-shadow-focus;
    }

    .option {
      flex: 1;
      height: $input-height;
      padding: $spacing-sm $spacing-md;
      border: none;
      background-color: transparent;
      color: inherit;
      font-size: $font-size-sm;
      cursor: pointer;
      transition: $transition-default;
      outline: none;

      &:hover {
        background-color: $color-background-hover;
      }

      &.active {
        background-color: $color-primary;
        color: white;
        font-weight: 600;
      }

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }

      &:focus-visible {
        outline: 2px solid $color-primary;
        outline-offset: -2px;
      }
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  .container {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .toggleGroup {
      flex: 1;
      max-width: 300px;
    }
  }
}