@import '@/styles/variables';
@import '@/styles/typography';

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: $spacing-md;
  width: 100%;
  
  .label {
    @include label-text;
  }
  
  .select {
    width: 100%;
    height: $input-height;
    padding: $spacing-sm $spacing-md;
    border: $border-width solid $color-border-transparent;
    border-radius: $border-radius;
    font-size: $font-size-sm;
    background-color: $color-background;
    cursor: pointer;
    outline: none;
    transition: $transition-default;
  
    &:hover,
    &:focus {
      border: $border-width solid $color-primary;
      box-shadow: $box-shadow-focus;
      background-color: $color-background-hover;
    }
  
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  .container {
    flex-direction: row;
    align-items: center;
    
    .select {
      flex: 1;
      max-width: 300px;
    }
  }
}
