@use '@/styles/variables' as *;

.messageBox {
  padding: 8px 16px;
  border-radius: 4px;

  &.incoming {
    color: $color-message-incoming-text;
    background-color: $color-message-incoming-bg;
  }

  &.outgoing {
    color: $color-message-outgoing-text;
    background-color: $color-message-outgoing-bg;
    border: 1px solid $color-message-outgoing-border;
  }

  &.bilingual {
    .mainText {
      font-size: 1rem;
      line-height: 1.5;
    }

    .divider {
      margin: 0.5rem 0;
      border: 0;
      border-top: 1px solid;
    }

    &.incoming .divider {
      border-top-color: $color-message-incoming-divider;
    }

    &.outgoing .divider {
      border-top-color: $color-message-outgoing-divider;
    }

    .translation {
      font-size: 1rem;
      font-style: italic;
      opacity: 0.7;
      line-height: 1.5;
    }
  }
}
